<style>
    .responsiveimg {
  width: 100%;
  max-width: 300px;
  height: auto;
    }
</style>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="img/general/shoshana-about.jpg" class="responsiveimg">
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-left" style="text-align: left;">
                <h2 class="section-heading">Our goals</h2>
                <hr class="light">
                <p class="text-faded">Some goals are very important<br>
                thats why they are goals.<br>
                goalllllll</p
            </div>
        </div>
    </div>
</section>
