<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="img/general/shoshana-about.jpg"
                <hr class="light">
                <p class="text-faded">Some goals...</p
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h2 class="section-heading">Our goals</h2>
                <hr class="light">
                <p class="text-faded">Some goals are very important<br>
                thats why they are goals.<br>
                goalllllll</p
            </div>
        </div>
    </div>
</section>
