<style>
    .container3 {
    display: flex;
  flex-wrap: wrap;
    }
    .columnimg {
    flex: 1 1 50%;
    padding-left: 15px;
    padding-right: 0px;
}
    .columnimg > img {
    width: 100%;
  height: auto;
  display: block;
  // padding-left: 70px;
    }
    @media (max-width: 768px) {
  .columnimg {
    flex: 1 1 100%;
  }
}
</style>

<section class="bg-primary" id="about">
    <div class="container3">
          <div class="columnimg image-column">
            <img src="img/general/attachment (52).jpeg" alt="Description" style="max-width: 400px; height: auto;">
          </div>
        <div class="columnimg text-column">
            <h2>Heading</h2>
            <p>Your descriptive text goes here.</p>
        </div>
</div>
</section>
