<section class="bg-primary" id="consulting">
    <div class="container2">

      <div class="column2 image-column">
            <img src="img/portfolio/attachment (60).jpeg" alt="Description" style="max-width: 400px; height: auto;">
        </div>
         
        <div class="column2 text-column">
            <h2>General Consulting</h2>
            <p>To discuss consulting projects and other custom requirements, please contact us at contact@bermudastrategies.io or book a no-obligation exploratory call. </p>
            <a href="https://calendly.com/jonathan-steel-bathwick/30min" target= _blank rel= noopener noreferrer class="btn btn-default btn-xl wow tada">Book a call →</a>
        </div>
        
</div>
</section>
