  <aside class="bg-primary" id="cxocircle">
       <div class="container2">
         
        <div class="column2 text-column">
            <h2>CxO Circle</h2>
            <p>CxO Circle membership of the Security Intelligence Brief is $1,000 per annum. Includes a subscription to Shoshana’s substack publication, plus:</p>
            <p>Private no-holds-barred analysis papers (periodic)</p>
            <p>A quarterly group call with Shoshana, covering the state of the sector, and a Q&A.</p>
            <a href="https://disesdi.substack.com/" target= _blank rel= noopener noreferrer class="btn btn-default btn-xl wow tada">Join →</a>

        </div>
        
</div>
</aside>
