<section class="bg-primary" id="fieldguide">
    <div class="container2">

         
        <div class="column2 text-column">
            <h2>NEW: The AI Threat Modeling Field Guide</h2>
            <p>The definitive AI threat modeling field guide - from the original and leading global expert in AI threat modeling.</p>
            <p>Mission-critical engineering, validated by mathematical proof.</p>
            <p>A critical guide for all AI practitioners at all levels of the organisation.</p>

            <a href="https://buy.stripe.com/4gM6oJbsL34w2D23wgfrW01" target= _blank rel= noopener noreferrer class="btn btn-default btn-xl wow tada">Get the Guide →</a>

         <div class="column2 image-column">
            <a href="https://buy.stripe.com/4gM6oJbsL34w2D23wgfrW01" target= _blank rel= noopener noreferrer><img src="img/general/attachment (52).jpeg" alt="Description" style="max-width: 400px; height: auto;"></a>
        </div>
    
        </div>
        
</div>
</section>
