<section class="bg-primary" id="fieldguide">
    <div class="container2">

      <div class="column2 image-column">
            <img src="img/general/attachment (52).jpeg" alt="Description" style="max-width: 400px; height: auto;">
        </div>
         
        <div class="column2 text-column">
            <h2>Heading</h2>
            <p>The AI security field guide distills much of Shoshana’s work on threat modeling for AI practitioners.</p> 
            <p>Buy it here ➔</p>

        </div>
        
</div>
</section>
