<section class="bg-dark" id="intelbrief">
    <div class="container2">

      <!-- <div class="column2 image-column">
            <img src="img/services/intel-brief.png" alt="Description" style="max-width: 400px; height: auto;">
        </div>-->
         
        <div class="column2 text-column">
            <h2>Angles of Attack: The AI Security Intelligence Brief</h2>
            <p>The AI & Quantum Security Intelligence Brief is published by Shoshana on Substack at disesdi.substack.com.</p>  
            <p>Subscriptions are currently $7 per month, $77 per year.</p> 
            <p>Pricing will rise on 6th September 2026.</p>
            <a href="https://disesdi.substack.com/" target= _blank rel= noopener noreferrer class="btn btn-default btn-xl wow tada">Subscribe →</a>
        </div>
        
</div>
</section>
