<section class="bg-primary" id="about">
    <div class="container2">
         
        <div class="column2 text-column">
            <h2>Media/Speaking</h2>
            <p class="text-faded"><p>Shoshana has spoken at numerous conferences in the AI, security, and intelligence fields.</p>
                <p>She is selectively available for podcasts, television, and other media work.</p>
                <p>For all enquires about Shoshana’s availability please email us at <b>contact@bermudahundred.io</b> or book a call.</p>
                <a href="https://calendly.com/jonathan-steel-bathwick/30min" target= _blank rel= noopener noreferrer class="btn btn-default btn-xl wow tada">Book a call →</a>
        </div>

        <div class="column2 image-column">
            <img src="img/general/IMG_2510 2.jpg" alt="Description" style="max-width: 400px; height: auto;">
        </div>
        
</div>
</section>
