<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Media</h2>
                <hr class="light">
                <p class="text-faded">Shoshana has spoken at numerous conferences in the AI,<br>
                  security, and intelligence fields. <br>
                  She is selectively available for podcasts, television, and other <br>
                  media work<br>
                  For all enquires about Shoshana’s availability please email us at<br>
                  contact@bermudahundred.io or book a call.</p>
            </div>
        </div>
    </div>
</section>
