<section class="bg-primary" id="media">
    <div class="container2">
         
        <div class="column2 text-column">
            <h2>Heading</h2>
             <p class="text-faded">Shoshana has spoken at numerous conferences in the AI,<br>
                  security, and intelligence fields. <br>
                  She is selectively available for podcasts, television, and other <br>
                  media work<br>
                  For all enquires about Shoshana’s availability please email us at<br>
                  contact@bermudahundred.io or book a call.</p>
        </div>

        <div class="column2 image-column">
            <img src="img/general/attachment (52).jpeg" alt="Description" style="max-width: 400px; height: auto;">
        </div>
        
</div>
</section>
