  <aside class="bg-dark" id="training">
       <div class="container2">
         
        <div class="column2 text-column">
            <h2>Training</h2>
            <p>Shoshana has carried out training for many companies, from major cybersecurity vendors to Fortune 500 companies.</p>
            <p>Her original work over the years forms the core of successful threat modeling, and is the <b><i>only</i></b> effective way to build effective AI security.</p>
            <p>Shoshana’s in-person training is available for single companies (on company premises) and at regional events across the United States.</p>
            <p>Enquire about availability & upcoming regional events calendar at <b>contact@bermudahundred.io</b>, or book a call.</p>

            <a href="https://calendly.com/jonathan-steel-bathwick/30min" target= _blank rel= noopener noreferrer class="btn btn-default btn-xl wow tada">Book a call →</a>
        </div>

        <!--<div class="column2 image-column">
            <img src="img/services/training-0.jpg" alt="Shoshana training AI threat modelers" style="max-width: 400px; height: auto;">
        </div>-->
        
</div>
</aside>
