  <aside class="bg-dark" id="training">
       <div class="container2">
         
        <div class="column2 text-column">
            <h2>Training</h2>
            <p>AI threat modeling: Shoshana carries out threat modeling training for single companies and at regional events in the United States.</p>
            <p>Single company training is available for $7,950 per day (plus expenses).</p>
            <p>Regional training: Shoshana also carries out regional training events, at $3,950 per seat.</p>
            <p>Enquire about availability & upcoming regional events calendar at <b>contact@bermudahundred.io</b>, or book a call.</p>
            <a href="https://calendly.com/jonathan-steel-bathwick/30min" target= _blank rel= noopener noreferrer class="btn btn-default btn-xl wow tada">Book a call →</a>
        </div>

        <!--<div class="column2 image-column">
            <img src="img/services/training-0.jpg" alt="Shoshana training AI threat modelers" style="max-width: 400px; height: auto;">
        </div>-->
        
</div>
</aside>
