  <aside class="bg-dark" id="video">
       <div class="container2">
         
        <div class="column2 text-column">
            <h2>One-on-one video meetings</h2>
            <p>Shoshana is available for private video meetings for advisory and consultation insights at $1,000 per hour.</p> 
            <p>Email us at <b>contact@bermudastrategies.io</b> for availability, or book a call.</p>
            <a href="https://calendly.com/jonathan-steel-bathwick/30min" target= _blank rel= noopener noreferrer class="btn btn-default btn-xl wow tada">Book a call →</a>
        </div>

        <div class="column2 image-column">
            <img src="img/services/video-still.png" alt="Shift perspective with an advisory call" style="max-width: 400px; height: auto;">
        </div>
        
</div>
</aside>
