  <aside class="bg-dark" id="video">
       <div class="container2">
         
        <div class="column2 text-column">
            <h2>One-on-one video meetings</h2>
            <p>Shoshana is available for private video meetings for advisory and consultation insights at $1,000 per hour.</p> 
            <p>Contact us at contact@bermudastrategies.io for availability.</p>
        </div>

        <div class="column2 image-column">
            <img src="img/portfolio/attachment (59).jpeg" alt="Description" style="max-width: 400px; height: auto;">
        </div>
        
</div>
</aside>
