<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  
  {% include nav.html %}
  {% include header.html %}
  
  {% include services-portfolio.html %}

  {% include field-guide.html %}

  <!--{% include intel-brief.html %}
  {% include cxo-circle.html %}-->

  {% include intel-brief-left-img-dk.html %}
  {% include cxo-circle-right-img-lt.html %}
  {% include field-guide-left-img-dk.html %}

  {% include video-right-img-lt.html %}
  {% include consulting-left-img-dk.html %}
  {% include training-right-img-lt.html %}

  {% include video-right-img-lt.html %}
  {% include consulting-left-img-dk.html %}
  {% include training-right-img-lt.html %}

  {% include bio.html %}
  {% include media.html %}
  {% include get-the-guide-bar.html %}
  {% include contact.html %}
  {% include scripts.html %}
  
</body>

</html>
